body {
  margin-top: 0px;
  display: block;
}
body::after{
  content: "";
  background-image: url(../images/backgrounds/yellow-line.jpg), radial-gradient(#ffffff, #a1eaa1);;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.form-signin {
    max-width: 500px;
    padding: 20px;
    margin: 80px auto;
    border: 1px solid gray;
    border-bottom: 1px solid #007bff;
    background: linear-gradient(#1a9bb5 , #2ac0da);
    background-size: cover;
    color: #fff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
