/* #Media Queries Responsive
================================================== */

/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
	/* Home */
	#header #header-top .top-nav h1{margin-left: 14%;}
	#academics-holder ul#schools-ul{width: 28%;}
	#banner-holder .sl-slider .sl-slide .sl-slide-inner > div{left: 0; right: 0; margin: 0px auto; text-align: center;}
	#academics-holder #dept-list-container ul li{min-height: 140px;}
	#banner-holder .home-slider div.caption-container{left: 10%; text-align: center;}
	/* Home End*/
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	/* Home */
	#header #header-top .top-nav h1{position: relative; margin-left: 0; text-align: center; float: none;}
	#academics-holder ul#schools-ul{width: 36%;}
	#academics-holder #dept-list-container{width: 60%;}
	#academics-holder #dept-list-container ul li{width: 32.7%; min-height: 150px;}
	#academics-holder #dept-list-container ul li a{padding: 5px;}
	#header #header-top .logo{position: relative; margin: 15px auto 0; display: table;}
	#header #nav-bar .main-nav > ul > li > a{padding: 15px 10px; padding-right: 10px !important;}
	#banner-holder .sl-slider .sl-slide .sl-slide-inner > div{left: 0; right: 0; margin: 0px auto; text-align: center;}
	#academics-holder #dept-list-container h3{font-size: 18px; padding: 5px 10px 10px;}
	#full-footer #prefooter ul.content > li{width: 30%; margin-bottom: 35px;}
	.flexslider .slides .flex-caption{font-size: 12px; line-height: 16px;}
	#banner-holder .home-slider div.caption-container{left: 10%; text-align: center;}
	#header #header-top .top-nav .downloads-a,
	#header #header-top .top-nav .forms-and-downloads-a{display: none;}
	/* Home End*/

}

/* All Mobile Sizes (devices and browser)
------------------------- */
@media only screen and (max-width: 767px) {
	a.mobilemenu{display: block;}
	.mobile-menu-logo{display: table;}
	#header #nav-bar, #header #header-top .top-nav h1, .logo, #full-footer #prefooter, #inner-page #banner-holder, #common-banner, #department #department-container .department-side-nav
	{display: none;}
	a.more{width: 50%; /*padding: 15px 20px 15px;*/ margin: 0px auto;}
	#department #department-container .department-section{padding: 0;}
	.mobile-view{display: block !important;}
	.mobile-breadcrumb{display: none !important;}
	.large-view{display: none;}
	#department #department-container .department-section .department-overview h2{font-size: 20px;}
	#department #department-container .department-section .banner-image{margin-bottom: 10px;}
	#header.fixed{display: none;}
	.table-container-div{overflow-x: scroll;}
	.flexslider .slides .flex-caption, .flex-control-nav{display: none !important;}
	#header #header-top .top-nav .downloads-a,
	#header #header-top .top-nav .forms-and-downloads-a{display: none;}

	/*Home*/
	#banner-holder .sl-slider .sl-slide .sl-slide-inner > div{left: 0; right: 0; margin: 0px auto; text-align: center;}
	#wt-text-holder #bg-tab{display: none;}
	#academics-holder #dept-list-container h3{font-size: 16px;}
	#home-tab-content{margin-top: 12px; width: 100%;}
	#academics-holder ul#schools-ul, #academics-holder #dept-list-container{width: 100%;}
	#academics-holder ul#schools-ul{min-height: inherit; margin-bottom: 40px;}
	#academics-holder #dept-list-container ul li{width: 49.5%; min-height: 100px;}
	#academics-holder #dept-list-container ul li span{padding-top: 35px;}
	#academics-holder #dept-list-container ul li a{min-height: 100px;}
	#news-events-holder ul#news-events > li{display: block; width: 100%; margin-bottom: 30px;}
	#news-events-holder ul#news-events > li:first-child > div:after{border-style: none;}
	#news-events-holder ul#news-events > li:first-child > div{padding-right: 0;}
	#news-events-holder ul#news-events > li:last-child > div{padding-left: 0;}
	#news-events-holder ul.news > li > div > .desc > a{float: left;}
	#full-footer #footer ul.links{display: block;margin-right: 50px;margin-top: 10px;}
	#full-footer #footer p{text-align: center;}
	.sl-slider-wrapper, .large-screen-slider, .bx-wrapper{display: none;}
	.home-mobile-slider{display: block;}
	#banner-holder{min-height: inherit; background-color: transparent;}
	#news-events-holder ul.news > li > div > .date{display: table; margin: 0px auto; width: initial;}
	#news-events-holder ul.news > li > div > .desc{display: table; margin: 10px auto 0px; text-align: center;}
	#news-events-holder ul.news > li > div > .desc > a{float: none;}
	#news-events-holder ul.news > li > div > .desc > .img{float: none; margin: 15px auto;}
	#news-events-holder ul.news > li > div > .date > div > span{display: inline-block; font-size: inherit;}
	#news-events-holder ul.news > li > div > .date > div{font-size: 18px;}
	#academics-holder ul#schools-ul li.active::before{display: none;}
	#academics-holder #dept-list-container{min-height: inherit;}
	.flex-direction-nav a{display: none;}
	/*Home End*/
}

/* Mobile Portrait
------------------------- */
@media only screen and (max-width: 479px) {
	a.more{width: 75%; margin: 30px auto 0px; max-width: none; padding: 15px 20px 15px;}
	a.more:after{left: inherit; bottom: inherit; top: 17px; right: 20px;}
	#full-footer #footer-social ul.content > li{margin: 0px 10px;}
	#full-footer #footer-social ul.content > li.li-mobile-hide{display: none;}
	#full-footer{padding-top: 20px;}
	.mobile-menu-logo img{margin: 10px auto; max-width: 30%;}

	/*Home*/
	#academics-holder ul#schools-ul, #academics-holder #dept-list-container{margin-top: 25px;}
	#academics-holder #dept-list-container ul li{width: 100%;}
	#department #department-container .department-section .department-grid-ul li{height: 200px;}
	#academics-holder #dept-list-container h3{text-align: center;}
	#academics-holder ul#schools-ul li a#schools-a-nav-4 i{vertical-align: top; padding-top: 22px;}
	/*Home End*/
}
